# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/

# Virtual envs
.venv/
venv/
env/
*.env

# PyCharm
.idea/

# OS X
.DS_Store

# Logs, checkpoints, outputs
*.log
*.ckpt
runs/
outputs/
test/